.content_main {
    position: absolute;

    width: 1200px;
    height: 850px;

    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);

    border: 15px solid rgb(10, 10, 10);
    border-radius: 40px;
    background-color: rgb(255, 255, 255);


    box-shadow: -15px 15px 25px 5px rgb(15, 15, 15);
}

.current_lunch {
    position: absolute;

    border: 8px solid rgb(200, 200, 200);
    border-radius: 40px;
    background-color: rgb(230, 230, 230);


    left: 50px;
    top: 10px;

    width: 1000px;
    height: 65px;

}

.current_lunch #current_item_pos {
    position: absolute;

    left: 20px;
    top: -40px;

    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#menu_label {
    position: absolute;

    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 200px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    right: 53%;
    top: 75px;

    width: 500px;
    height: 70px;
}

.menu {
    position: absolute;

    left: 35px;
    top: 150px;

    width: 500px;
    height: 650px;

    border: 8px solid rgb(200, 200, 200);
    border-radius: 40px;
    background-color: rgb(230, 230, 230);
}

.menu li {
    font-size: 30px;
}

#rating_label {
    position: absolute;

    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 200px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    right: 20%;
    top: 75px;
}

.rating {
    position: absolute;

    left: 650px;
    top: 150px;

    width: 500px;
    height: 650px;

    border: 8px solid rgb(200, 200, 200);
    border-radius: 40px;
    background-color: rgb(230, 230, 230);
}

.rating #rating_expr {
    position: absolute;

    left: 375px;
    top: -75px;

    font-size: 100px;
}