<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../static/style/main.css">
        <title> Lunch </title>
    </head>

    <body id="body_w">
        <div class="content_main"> 
            
            <div class="current_lunch"> 
                <p id="current_item_pos"> Dagens måltid: "<strong id="current_item">placeholder</strong>" </p>
            </div>

            <h1 id="rating_label"> Mat betyg </h1>
            <div class="rating"> 
                <p id="rating_expr"> &#128077; </p>
            </div>        

            <h1 id="menu_label">Framkåmmande meny</h1>
            <div class = "menu">
                <ul>
                    <li>Fredag: såpa</li>
                </ul>
            </div>
        
        </div>

        <button onclick="toggle_weather(true)"> _tggle_w_ </button>
        <button onclick="toggle_weather(false)"> _tggle_f_ </button>

        <script src="../static/script/main.js"></script>
    </body>
</html>

<!-- 👍	128077	1F44D	
👎	128078	1F44E	-->